* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: medium;
}

#titulo-principal {
    color: blue;
    text-align: center;
}

.subtitulo {
    color: lightslategray;
    margin-top: 20px;
    font-weight: bold;
}

li a{
    text-decoration: none;
}