* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-banner {
    height: 100vh;
    background-color: darkblue;
    /* background-image: url('./img/background.webp'); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-banner h1 {
    color: red;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-banner p {
    color: lightgray;
    font-size: 1.2rem;
    max-width: 600px;
}

@media (max-width: 768px) {
    .hero-banner h1 {
        font-size: 2rem;
    }
    
    .hero-banner p {
        font-size: 1rem;
    }
}